<a href="https://colab.research.google.com/github/SuprajaYadavH/Hackathon/blob/Chaithra/census_inflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd

In [13]:
from google.colab import drive

In [14]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
df_2001=pd.read_excel("/content/drive/MyDrive/census inflow data/2001-PC01_D02_29.xls",header=1, skiprows=[2, 3])

In [20]:
df_2001.head()

,Table,State Code,District Code,Name,Place of last residence,Total/ Rural/ Urban,Rural Urban status of place of Enumeration,Total migrants,Total migrants(male),Total migrants(female),...,Duration of Residence In Place of Enumeration (5-9 years female),Duration of Residence In Place of Enumeration (10-19 years total persons),Duration of Residence In Place of Enumeration (10-19 years male),Duration of Residence In Place of Enumeration (10-19 years female),Duration of Residence In Place of Enumeration (20+ years total persons),Duration of Residence In Place of Enumeration (20+ years male),Duration of Residence In Place of Enumeration (20+ years female),Duration of Residence In Place of Enumeration (period not stated total persons),Duration of Residence In Place of Enumeration (period not stated male),Duration of Residence In Place of Enumeration (period not stated female)
0,D0302,29.0,0.0,STATE - KARNATAKA 29,Total,Total,Urban,6253747.0,3013790.0,3239957.0,...,498808.0,1249294.0,553994.0,695300.0,1351772.0,621671.0,730101.0,1233852.0,647999.0,585853.0
1,D0302,29.0,0.0,STATE - KARNATAKA 29,Last residence elsewhere in India,Total,Total,16518648.0,5664248.0,10854400.0,...,1552144.0,3584091.0,1034016.0,2550075.0,4768283.0,1165585.0,3602698.0,2402277.0,1239052.0,1163225.0
2,D0302,29.0,0.0,STATE - KARNATAKA 29,Last residence elsewhere in India,Total,Rural,10284475.0,2661557.0,7622918.0,...,1054629.0,2337951.0,481718.0,1856233.0,3419940.0,545787.0,2874153.0,1170384.0,592141.0,578243.0
3,D0302,29.0,0.0,STATE - KARNATAKA 29,Last residence elsewhere in India,Total,Urban,6234173.0,3002691.0,3231482.0,...,497515.0,1246140.0,552298.0,693842.0,1348343.0,619798.0,728545.0,1231893.0,646911.0,584982.0
4,D0302,29.0,0.0,STATE - KARNATAKA 29,Last residence elsewhere in India,Rural,Total,11272947.0,3161993.0,8110954.0,...,1202259.0,2771372.0,700648.0,2070724.0,3902648.0,802666.0,3099982.0,472379.0,195081.0,277298.0

In [21]:
df_2001.shape

(14028, 28)

In [22]:
df_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14028 entries, 0 to 14027
Data columns (total 28 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Table                                                                            14027 non-null  object
 1   State Code                                                                       14026 non-null  float64
 2   District Code                                                                    14026 non-null  float64
 3   Name                                                                             14026 non-null  object
 4   Place of last residence                                                          14026 non-null  object
 5   Total/ Rural/ Urban                                                              14026 non-null  object
 6   Rural Urban  status of place of Enumeration                                      14026 non-null  object
 7   Total migrants                                                                   14026 non-null  float64
 8   Total migrants(male)                                                             14026 non-null  float64
 9   Total migrants(female)                                                           14026 non-null  float64
 10  Duration of Residence In Place of Enumeration (less than 1 year total persons)   14026 non-null  float64
 11  Duration of Residence In Place of Enumeration (less than 1 year male)            14026 non-null  float64
 12  Duration of Residence In Place of Enumeration (less than 1 year female)          14026 non-null  float64
 13  Duration of Residence In Place of Enumeration (1-4 years total persons)          14026 non-null  float64
 14  Duration of Residence In Place of Enumeration (1-4 years male)                   14026 non-null  float64
 15  Duration of Residence In Place of Enumeration (1-4 years female)                 14026 non-null  float64
 16  Duration of Residence In Place of Enumeration (5-9 years total persons)          14026 non-null  float64
 17  Duration of Residence In Place of Enumeration (5-9 years male)                   14026 non-null  float64
 18  Duration of Residence In Place of Enumeration (5-9 years female)                 14026 non-null  float64
 19  Duration of Residence In Place of Enumeration (10-19 years total persons)        14026 non-null  float64
 20  Duration of Residence In Place of Enumeration (10-19 years male)                 14026 non-null  float64
 21  Duration of Residence In Place of Enumeration (10-19 years female)               14026 non-null  float64
 22  Duration of Residence In Place of Enumeration (20+ years total persons)          14026 non-null  float64
 23  Duration of Residence In Place of Enumeration (20+ years male)                   14026 non-null  float64
 24  Duration of Residence In Place of Enumeration (20+ years female)                 14026 non-null  float64
 25  Duration of Residence In Place of Enumeration (period not stated total persons)  14026 non-null  float64
 26  Duration of Residence In Place of Enumeration (period not stated male)           14026 non-null  float64
 27  Duration of Residence In Place of Enumeration (period not stated female)         14026 non-null  float64
dtypes: float64(23), object(5)
memory usage: 3.0+ MB

In [23]:
df_2001.isnull().sum()

Table                                                                              1
State Code                                                                         2
District Code                                                                      2
Name                                                                               2
Place of last residence                                                            2
Total/ Rural/ Urban                                                                2
Rural Urban  status of place of Enumeration                                        2
Total migrants                                                                     2
Total migrants(male)                                                               2
Total migrants(female)                                                             2
Duration of Residence In Place of Enumeration (less than 1 year total persons)     2
Duration of Residence In Place of Enumeration (less than 1 year male)              2
Duration of Residence In Place of Enumeration (less than 1 year female)            2
Duration of Residence In Place of Enumeration (1-4 years total persons)            2
Duration of Residence In Place of Enumeration (1-4 years male)                     2
Duration of Residence In Place of Enumeration (1-4 years female)                   2
Duration of Residence In Place of Enumeration (5-9 years total persons)            2
Duration of Residence In Place of Enumeration (5-9 years male)                     2
Duration of Residence In Place of Enumeration (5-9 years female)                   2
Duration of Residence In Place of Enumeration (10-19 years total persons)          2
Duration of Residence In Place of Enumeration (10-19 years male)                   2
Duration of Residence In Place of Enumeration (10-19 years female)                 2
Duration of Residence In Place of Enumeration (20+ years total persons)            2
Duration of Residence In Place of Enumeration (20+ years male)                     2
Duration of Residence In Place of Enumeration (20+ years female)                   2
Duration of Residence In Place of Enumeration (period not stated total persons)    2
Duration of Residence In Place of Enumeration (period not stated male)             2
Duration of Residence In Place of Enumeration (period not stated female)           2
dtype: int64

In [24]:
df_2001= df_2001.dropna()

In [25]:
df_2001 = df_2001.fillna(0)
df_2001 = df_2001.fillna(df_2001.mean())

<ipython-input-25-0396afc2100c>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_2001 = df_2001.fillna(df_2001.mean())

In [26]:
df_2001.isnull().sum()

Table                                                                              0
State Code                                                                         0
District Code                                                                      0
Name                                                                               0
Place of last residence                                                            0
Total/ Rural/ Urban                                                                0
Rural Urban  status of place of Enumeration                                        0
Total migrants                                                                     0
Total migrants(male)                                                               0
Total migrants(female)                                                             0
Duration of Residence In Place of Enumeration (less than 1 year total persons)     0
Duration of Residence In Place of Enumeration (less than 1 year male)              0
Duration of Residence In Place of Enumeration (less than 1 year female)            0
Duration of Residence In Place of Enumeration (1-4 years total persons)            0
Duration of Residence In Place of Enumeration (1-4 years male)                     0
Duration of Residence In Place of Enumeration (1-4 years female)                   0
Duration of Residence In Place of Enumeration (5-9 years total persons)            0
Duration of Residence In Place of Enumeration (5-9 years male)                     0
Duration of Residence In Place of Enumeration (5-9 years female)                   0
Duration of Residence In Place of Enumeration (10-19 years total persons)          0
Duration of Residence In Place of Enumeration (10-19 years male)                   0
Duration of Residence In Place of Enumeration (10-19 years female)                 0
Duration of Residence In Place of Enumeration (20+ years total persons)            0
Duration of Residence In Place of Enumeration (20+ years male)                     0
Duration of Residence In Place of Enumeration (20+ years female)                   0
Duration of Residence In Place of Enumeration (period not stated total persons)    0
Duration of Residence In Place of Enumeration (period not stated male)             0
Duration of Residence In Place of Enumeration (period not stated female)           0
dtype: int64