<a href="https://colab.research.google.com/github/SuprajaYadavH/Hackathon/blob/Supraja/Reason_for_migration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
from google.colab import files

uploaded = files.upload()

Saving Migrants_by_reason_of_migration(c).xlsx to Migrants_by_reason_of_migration(c).xlsx

In [36]:
data = pd.read_excel("Migrants_by_reason_of_migration(c).xlsx", header=1, skiprows=[2, 3])

In [37]:
data. head()

,Table name,State,District,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
0,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Total,Total,26463170.0,10204423.0,...,9168084.0,2592762.0,1519399.0,1073363.0,3542701.0,1517770.0,2024931.0,7185563.0,3975238.0,3210325.0
1,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Total,26351178.0,10146322.0,...,9152860.0,2584128.0,1514425.0,1069703.0,3517725.0,1507361.0,2010364.0,7152050.0,3955744.0,3196306.0
2,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Rural,14349732.0,4438286.0,...,7007141.0,1493872.0,900536.0,593336.0,1742623.0,755984.0,986639.0,1960327.0,1053483.0,906844.0
3,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Urban,7728868.0,3557915.0,...,1652690.0,957647.0,535591.0,422056.0,1587631.0,667587.0,920044.0,1882431.0,1028985.0,853446.0
4,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Within the state of enumeration but outside th...,Total,23103518.0,8647768.0,...,8312418.0,2367282.0,1387598.0,979684.0,2867590.0,1248921.0,1618669.0,6602352.0,3656920.0,2945432.0

In [38]:
data.shape

(58128, 32)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58128 entries, 0 to 58127
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Table name                     58127 non-null  object
 1   State                          58125 non-null  float64
 2   District                       58125 non-null  float64
 3   Area Name                      58125 non-null  object
 4   Place of enumeration           58125 non-null  object
 5   Duration of residence          58125 non-null  object
 6   Last residence                 58125 non-null  object
 7   Last residence.1               58125 non-null  object
 8   Total migrants(Persons)        58125 non-null  float64
 9   Total migrants(Males)          58125 non-null  float64
 10  Total migrants(Females)        58125 non-null  float64
 11  Work/employment(Persons)       58125 non-null  float64
 12  Work/employment(Males)         58125 non-null  float64
 13  Work/employment(Females)       58125 non-null  float64
 14  Business(Persons)              58125 non-null  float64
 15  Business(Males)                58125 non-null  float64
 16  Business(Females)              58125 non-null  float64
 17  Education(Persons)             58125 non-null  float64
 18  Education(Males)               58125 non-null  float64
 19  Education(Females)             58125 non-null  float64
 20  Marriage(Persons)              58125 non-null  float64
 21  Marriage(Males)                58125 non-null  float64
 22  Marriage(Females)              58125 non-null  float64
 23  Moved after birth(Persons)     58125 non-null  float64
 24  Moved after birth(Males)       58125 non-null  float64
 25  Moved after birth(Females)     58125 non-null  float64
 26  Moved with household(Persons)  58125 non-null  float64
 27  Moved with household(Males)    58125 non-null  float64
 28  Moved with household(Females)  58125 non-null  float64
 29  Others(Persons)                58125 non-null  float64
 30  Others(Males)                  58125 non-null  float64
 31  Others(Females)                58125 non-null  float64
dtypes: float64(26), object(6)
memory usage: 14.2+ MB

In [40]:
data.isnull().sum()

Table name                       1
State                            3
District                         3
Area Name                        3
Place of enumeration             3
Duration of residence            3
Last residence                   3
Last residence.1                 3
Total migrants(Persons)          3
Total migrants(Males)            3
Total migrants(Females)          3
Work/employment(Persons)         3
Work/employment(Males)           3
Work/employment(Females)         3
Business(Persons)                3
Business(Males)                  3
Business(Females)                3
Education(Persons)               3
Education(Males)                 3
Education(Females)               3
Marriage(Persons)                3
Marriage(Males)                  3
Marriage(Females)                3
Moved after birth(Persons)       3
Moved after birth(Males)         3
Moved after birth(Females)       3
Moved with household(Persons)    3
Moved with household(Males)      3
Moved with household(Females)    3
Others(Persons)                  3
Others(Males)                    3
Others(Females)                  3
dtype: int64

In [41]:
data.dropna(axis=0,inplace=True)

In [43]:
data.isnull().sum()

Table name                       0
State                            0
District                         0
Area Name                        0
Place of enumeration             0
Duration of residence            0
Last residence                   0
Last residence.1                 0
Total migrants(Persons)          0
Total migrants(Males)            0
Total migrants(Females)          0
Work/employment(Persons)         0
Work/employment(Males)           0
Work/employment(Females)         0
Business(Persons)                0
Business(Males)                  0
Business(Females)                0
Education(Persons)               0
Education(Males)                 0
Education(Females)               0
Marriage(Persons)                0
Marriage(Males)                  0
Marriage(Females)                0
Moved after birth(Persons)       0
Moved after birth(Males)         0
Moved after birth(Females)       0
Moved with household(Persons)    0
Moved with household(Males)      0
Moved with household(Females)    0
Others(Persons)                  0
Others(Males)                    0
Others(Females)                  0
dtype: int64

In [45]:
data["Area Name"].value_counts()

State - KARNATAKA    1875
Chikmagalur          1875
Bangalore Rural      1875
Chikkaballapura      1875
Kolar                1875
Yadgir               1875
Gulbarga             1875
Chamarajanagar       1875
Mysore               1875
Kodagu               1875
Dakshina Kannada     1875
Hassan               1875
Mandya               1875
Bangalore            1875
Tumkur               1875
Udupi                1875
Belgaum              1875
Shimoga              1875
Davanagere           1875
Chitradurga          1875
Bellary              1875
Haveri               1875
Uttara Kannada       1875
Dharwad              1875
Gadag                1875
Koppal               1875
Raichur              1875
Bidar                1875
Bijapur              1875
Bagalkot             1875
Ramanagara           1875
Name: Area Name, dtype: int64

In [51]:
#taking only bangalore data
blr_data = data.loc[data['Area Name'].isin(['Bangalore', 'Bangalore Rural']), :]

In [52]:
blr_data

,Table name,State,District,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
33750,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Total,Total,5140755.0,2706024.0,...,726020.0,210657.0,114362.0,96295.0,1090409.0,444320.0,646089.0,1417036.0,761082.0,655954.0
33751,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Total,5090696.0,2678711.0,...,722563.0,208475.0,113229.0,95246.0,1076071.0,438625.0,637446.0,1403789.0,753804.0,649985.0
33752,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Rural,1763770.0,953147.0,...,305713.0,63416.0,34633.0,28783.0,399890.0,161220.0,238670.0,265219.0,154540.0,110679.0
33753,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Urban,2608745.0,1362726.0,...,379342.0,131867.0,71399.0,60468.0,621744.0,253630.0,368114.0,585671.0,314892.0,270779.0
33754,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Within the state of enumeration but outside th...,Total,3374564.0,1746100.0,...,467768.0,136657.0,74454.0,62203.0,684029.0,285824.0,398205.0,1098896.0,586886.0,512010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56245,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Andaman & Nicobar Islands,Urban,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
56246,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Last residence outside India,Total,90.0,44.0,...,15.0,3.0,1.0,2.0,28.0,6.0,22.0,18.0,14.0,4.0
56247,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Countries in Asia beyond India,Total,44.0,23.0,...,6.0,2.0,0.0,2.0,16.0,3.0,13.0,6.0,6.0,0.0
56248,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Other Countries,Total,46.0,21.0,...,9.0,1.0,1.0,0.0,12.0,3.0,9.0,12.0,8.0,4.0
56249,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Unclassifiable,Total,6.0,3.0,...,0.0,1.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0

Table name                       0
State                            0
District                         0
Area Name                        0
Place of enumeration             0
Duration of residence            0
Last residence                   0
Last residence.1                 0
Total migrants(Persons)          0
Total migrants(Males)            0
Total migrants(Females)          0
Work/employment(Persons)         0
Work/employment(Males)           0
Work/employment(Females)         0
Business(Persons)                0
Business(Males)                  0
Business(Females)                0
Education(Persons)               0
Education(Males)                 0
Education(Females)               0
Marriage(Persons)                0
Marriage(Males)                  0
Marriage(Females)                0
Moved after birth(Persons)       0
Moved after birth(Males)         0
Moved after birth(Females)       0
Moved with household(Persons)    0
Moved with household(Males)      0
Moved with household(Females)    0
Others(Persons)                  0
Others(Males)                    0
Others(Females)                  0
dtype: int64