<a href="https://colab.research.google.com/github/SuprajaYadavH/Hackathon/blob/Supraja/Reason_for_migration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
from google.colab import files

uploaded = files.upload()

Saving Migrants_by_reason_of_migration(c).xlsx to Migrants_by_reason_of_migration(c).xlsx

In [4]:
data = pd.read_excel("Migrants_by_reason_of_migration(c).xlsx", header=1, skiprows=[2, 3])

In [5]:
data. head()

,Table name,State,District,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
0,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Total,Total,26463170.0,10204423.0,...,9168084.0,2592762.0,1519399.0,1073363.0,3542701.0,1517770.0,2024931.0,7185563.0,3975238.0,3210325.0
1,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Total,26351178.0,10146322.0,...,9152860.0,2584128.0,1514425.0,1069703.0,3517725.0,1507361.0,2010364.0,7152050.0,3955744.0,3196306.0
2,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Rural,14349732.0,4438286.0,...,7007141.0,1493872.0,900536.0,593336.0,1742623.0,755984.0,986639.0,1960327.0,1053483.0,906844.0
3,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Last residence within India,Urban,7728868.0,3557915.0,...,1652690.0,957647.0,535591.0,422056.0,1587631.0,667587.0,920044.0,1882431.0,1028985.0,853446.0
4,D0603,29.0,0.0,State - KARNATAKA,Total,All durations of residence,Within the state of enumeration but outside th...,Total,23103518.0,8647768.0,...,8312418.0,2367282.0,1387598.0,979684.0,2867590.0,1248921.0,1618669.0,6602352.0,3656920.0,2945432.0

In [6]:
data.shape

(58128, 32)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58128 entries, 0 to 58127
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Table name                     58127 non-null  object
 1   State                          58125 non-null  float64
 2   District                       58125 non-null  float64
 3   Area Name                      58125 non-null  object
 4   Place of enumeration           58125 non-null  object
 5   Duration of residence          58125 non-null  object
 6   Last residence                 58125 non-null  object
 7   Last residence.1               58125 non-null  object
 8   Total migrants(Persons)        58125 non-null  float64
 9   Total migrants(Males)          58125 non-null  float64
 10  Total migrants(Females)        58125 non-null  float64
 11  Work/employment(Persons)       58125 non-null  float64
 12  Work/employment(Males)         58125 non-null  float64
 13  Work/employment(Females)       58125 non-null  float64
 14  Business(Persons)              58125 non-null  float64
 15  Business(Males)                58125 non-null  float64
 16  Business(Females)              58125 non-null  float64
 17  Education(Persons)             58125 non-null  float64
 18  Education(Males)               58125 non-null  float64
 19  Education(Females)             58125 non-null  float64
 20  Marriage(Persons)              58125 non-null  float64
 21  Marriage(Males)                58125 non-null  float64
 22  Marriage(Females)              58125 non-null  float64
 23  Moved after birth(Persons)     58125 non-null  float64
 24  Moved after birth(Males)       58125 non-null  float64
 25  Moved after birth(Females)     58125 non-null  float64
 26  Moved with household(Persons)  58125 non-null  float64
 27  Moved with household(Males)    58125 non-null  float64
 28  Moved with household(Females)  58125 non-null  float64
 29  Others(Persons)                58125 non-null  float64
 30  Others(Males)                  58125 non-null  float64
 31  Others(Females)                58125 non-null  float64
dtypes: float64(26), object(6)
memory usage: 14.2+ MB

In [8]:
data.isnull().sum()

Table name                       1
State                            3
District                         3
Area Name                        3
Place of enumeration             3
Duration of residence            3
Last residence                   3
Last residence.1                 3
Total migrants(Persons)          3
Total migrants(Males)            3
Total migrants(Females)          3
Work/employment(Persons)         3
Work/employment(Males)           3
Work/employment(Females)         3
Business(Persons)                3
Business(Males)                  3
Business(Females)                3
Education(Persons)               3
Education(Males)                 3
Education(Females)               3
Marriage(Persons)                3
Marriage(Males)                  3
Marriage(Females)                3
Moved after birth(Persons)       3
Moved after birth(Males)         3
Moved after birth(Females)       3
Moved with household(Persons)    3
Moved with household(Males)      3
Moved with household(Females)    3
Others(Persons)                  3
Others(Males)                    3
Others(Females)                  3
dtype: int64

In [9]:
data.dropna(axis=0,inplace=True)

In [10]:
data.isnull().sum()

Table name                       0
State                            0
District                         0
Area Name                        0
Place of enumeration             0
Duration of residence            0
Last residence                   0
Last residence.1                 0
Total migrants(Persons)          0
Total migrants(Males)            0
Total migrants(Females)          0
Work/employment(Persons)         0
Work/employment(Males)           0
Work/employment(Females)         0
Business(Persons)                0
Business(Males)                  0
Business(Females)                0
Education(Persons)               0
Education(Males)                 0
Education(Females)               0
Marriage(Persons)                0
Marriage(Males)                  0
Marriage(Females)                0
Moved after birth(Persons)       0
Moved after birth(Males)         0
Moved after birth(Females)       0
Moved with household(Persons)    0
Moved with household(Males)      0
Moved with household(Females)    0
Others(Persons)                  0
Others(Males)                    0
Others(Females)                  0
dtype: int64

In [11]:
data["Area Name"].value_counts()

State - KARNATAKA    1875
Chikmagalur          1875
Bangalore Rural      1875
Chikkaballapura      1875
Kolar                1875
Yadgir               1875
Gulbarga             1875
Chamarajanagar       1875
Mysore               1875
Kodagu               1875
Dakshina Kannada     1875
Hassan               1875
Mandya               1875
Bangalore            1875
Tumkur               1875
Udupi                1875
Belgaum              1875
Shimoga              1875
Davanagere           1875
Chitradurga          1875
Bellary              1875
Haveri               1875
Uttara Kannada       1875
Dharwad              1875
Gadag                1875
Koppal               1875
Raichur              1875
Bidar                1875
Bijapur              1875
Bagalkot             1875
Ramanagara           1875
Name: Area Name, dtype: int64

In [12]:
#taking only bangalore data
blr_data = data.loc[data['Area Name'].isin(['Bangalore', 'Bangalore Rural']), :]

In [13]:
blr_data

,Table name,State,District,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
33750,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Total,Total,5140755.0,2706024.0,...,726020.0,210657.0,114362.0,96295.0,1090409.0,444320.0,646089.0,1417036.0,761082.0,655954.0
33751,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Total,5090696.0,2678711.0,...,722563.0,208475.0,113229.0,95246.0,1076071.0,438625.0,637446.0,1403789.0,753804.0,649985.0
33752,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Rural,1763770.0,953147.0,...,305713.0,63416.0,34633.0,28783.0,399890.0,161220.0,238670.0,265219.0,154540.0,110679.0
33753,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Urban,2608745.0,1362726.0,...,379342.0,131867.0,71399.0,60468.0,621744.0,253630.0,368114.0,585671.0,314892.0,270779.0
33754,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Within the state of enumeration but outside th...,Total,3374564.0,1746100.0,...,467768.0,136657.0,74454.0,62203.0,684029.0,285824.0,398205.0,1098896.0,586886.0,512010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56245,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Andaman & Nicobar Islands,Urban,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
56246,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Last residence outside India,Total,90.0,44.0,...,15.0,3.0,1.0,2.0,28.0,6.0,22.0,18.0,14.0,4.0
56247,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Countries in Asia beyond India,Total,44.0,23.0,...,6.0,2.0,0.0,2.0,16.0,3.0,13.0,6.0,6.0,0.0
56248,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Other Countries,Total,46.0,21.0,...,9.0,1.0,1.0,0.0,12.0,3.0,9.0,12.0,8.0,4.0
56249,D0603,29.0,583.0,Bangalore Rural,Urban,Duration of residence 10 years and above,Unclassifiable,Total,6.0,3.0,...,0.0,1.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0

In [14]:
blr_data["District"].value_counts()

572.0    1875
583.0    1875
Name: District, dtype: int64

In [15]:
# explain this?
blr_data["Place of enumeration"].value_counts()

Total    1250
Rural    1250
Urban    1250
Name: Place of enumeration, dtype: int64

In [16]:
blr_data["Duration of residence"].value_counts()

All durations of residence                  750
Duration of residence less than 1 year      750
Duration of residence 1-4 years             750
Duration of residence 5-9 years             750
Duration of residence 10 years and above    750
Name: Duration of residence, dtype: int64

In [17]:
blr_data["Last residence"].value_counts()

Meghalaya                                                               90
Last residence within India                                             90
West Bengal                                                             90
Jharkhand                                                               90
Odisha                                                                  90
Chhattisgarh                                                            90
Madhya Pradesh                                                          90
Gujarat                                                                 90
Daman & Diu                                                             90
Dadra & Nagar Haveli                                                    90
Maharashtra                                                             90
Andhra Pradesh                                                          90
Karnataka                                                               90
Goa                                                                     90
Lakshadweep                                                             90
Kerala                                                                  90
Tamil Nadu                                                              90
Puducherry                                                              90
Andaman & Nicobar Islands                                               90
Assam                                                                   90
Tripura                                                                 90
Haryana                                                                 90
Mizoram                                                                 90
In other districts of the state of enumeration                          90
States in India beyond the state of enumeration                         90
Jammu & Kashmir                                                         90
Himachal Pradesh                                                        90
Punjab                                                                  90
Chandigarh                                                              90
Uttarakhand                                                             90
NCT of Delhi                                                            90
Within the state of enumeration but outside the place of enumeration    90
Rajasthan                                                               90
Uttar Pradesh                                                           90
Bihar                                                                   90
Sikkim                                                                  90
Arunachal Pradesh                                                       90
Nagaland                                                                90
Manipur                                                                 90
Elsewhere in the district of enumeration                                90
Countries in Asia beyond India                                          30
Other Countries                                                         30
Total                                                                   30
Last residence outside India                                            30
Unclassifiable                                                          30
Name: Last residence, dtype: int64

In [18]:
blr_data["Last residence.1"].value_counts()

Total    1350
Rural    1200
Urban    1200
Name: Last residence.1, dtype: int64

In [19]:
blr_total=(blr_data['Last residence.1']=="Total")& (blr_data["Place of enumeration"]=="Total")& (blr_data["Duration of residence"]=="All durations of residence")

In [20]:
blr_data[blr_total]

,Table name,State,District,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
33750,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Total,Total,5140755.0,2706024.0,...,726020.0,210657.0,114362.0,96295.0,1090409.0,444320.0,646089.0,1417036.0,761082.0,655954.0
33751,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Last residence within India,Total,5090696.0,2678711.0,...,722563.0,208475.0,113229.0,95246.0,1076071.0,438625.0,637446.0,1403789.0,753804.0,649985.0
33754,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Within the state of enumeration but outside th...,Total,3374564.0,1746100.0,...,467768.0,136657.0,74454.0,62203.0,684029.0,285824.0,398205.0,1098896.0,586886.0,512010.0
33757,D0603,29.0,572.0,Bangalore,Total,All durations of residence,Elsewhere in the district of enumeration,Total,1146456.0,577262.0,...,105826.0,40997.0,22420.0,18577.0,183460.0,83857.0,99603.0,654647.0,344279.0,310368.0
33760,D0603,29.0,572.0,Bangalore,Total,All durations of residence,In other districts of the state of enumeration,Total,2228108.0,1168838.0,...,361942.0,95660.0,52034.0,43626.0,500569.0,201967.0,298602.0,444249.0,242607.0,201642.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54493,D0603,29.0,583.0,Bangalore Rural,Total,All durations of residence,Andaman & Nicobar Islands,Total,9.0,4.0,...,0.0,0.0,0.0,0.0,3.0,0.0,3.0,3.0,1.0,2.0
54496,D0603,29.0,583.0,Bangalore Rural,Total,All durations of residence,Last residence outside India,Total,729.0,377.0,...,125.0,21.0,11.0,10.0,176.0,59.0,117.0,177.0,118.0,59.0
54497,D0603,29.0,583.0,Bangalore Rural,Total,All durations of residence,Countries in Asia beyond India,Total,404.0,241.0,...,34.0,6.0,4.0,2.0,113.0,36.0,77.0,73.0,52.0,21.0
54498,D0603,29.0,583.0,Bangalore Rural,Total,All durations of residence,Other Countries,Total,325.0,136.0,...,91.0,15.0,7.0,8.0,63.0,23.0,40.0,104.0,66.0,38.0
54499,D0603,29.0,583.0,Bangalore Rural,Total,All durations of residence,Unclassifiable,Total,40.0,19.0,...,11.0,2.0,1.0,1.0,8.0,2.0,6.0,5.0,3.0,2.0

In [26]:
blr_1=(blr_data['Last residence.1']=="Urban")& (blr_data["Place of enumeration"]=="Urban")& (blr_data["Duration of residence"]=="All durations of residence")

In [27]:
blr_urban =blr_data[blr_1]

In [29]:
blr_urban.to_csv("blr_urban(UU).csv")

In [30]:
blr_2=(blr_data['Last residence.1']=="Urban")& (blr_data["Place of enumeration"]=="Rural")& (blr_data["Duration of residence"]=="All durations of residence")

In [31]:
blr_urban_to_rural=blr_data[blr_2]

In [34]:
blr_urban_to_rural.to_csv("blr_urban(UR).csv")

In [32]:
blr_3=(blr_data['Last residence.1']=="Rural")& (blr_data["Place of enumeration"]=="Urban")& (blr_data["Duration of residence"]=="All durations of residence")

In [33]:
blr_rural_to_urban=blr_data[blr_3]

In [38]:
blr_rural_to_urban.to_csv("blr_Rural(RU).csv")

In [36]:
blr_4=(blr_data['Last residence.1']=="Rural")& (blr_data["Place of enumeration"]=="Rural")& (blr_data["Duration of residence"]=="All durations of residence")

In [37]:
blr_rural_to_rural=blr_data[blr_4]

In [39]:
blr_rural_to_rural.to_csv("blr_Rural(RR).csv")

In [21]:
blr_data.drop(["Table name","State","District"],axis=1,inplace=True)

<ipython-input-21-7df514ca1589>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blr_data.drop(["Table name","State","District"],axis=1,inplace=True)

In [22]:
blr_data.head()

,Area Name,Place of enumeration,Duration of residence,Last residence,Last residence.1,Total migrants(Persons),Total migrants(Males),Total migrants(Females),Work/employment(Persons),Work/employment(Males),...,Marriage(Females),Moved after birth(Persons),Moved after birth(Males),Moved after birth(Females),Moved with household(Persons),Moved with household(Males),Moved with household(Females),Others(Persons),Others(Males),Others(Females)
33750,Bangalore,Total,All durations of residence,Total,Total,5140755.0,2706024.0,2434731.0,1434948.0,1189787.0,...,726020.0,210657.0,114362.0,96295.0,1090409.0,444320.0,646089.0,1417036.0,761082.0,655954.0
33751,Bangalore,Total,All durations of residence,Last residence within India,Total,5090696.0,2678711.0,2411985.0,1422615.0,1179515.0,...,722563.0,208475.0,113229.0,95246.0,1076071.0,438625.0,637446.0,1403789.0,753804.0,649985.0
33752,Bangalore,Total,All durations of residence,Last residence within India,Rural,1763770.0,953147.0,810623.0,640881.0,532732.0,...,305713.0,63416.0,34633.0,28783.0,399890.0,161220.0,238670.0,265219.0,154540.0,110679.0
33753,Bangalore,Total,All durations of residence,Last residence within India,Urban,2608745.0,1362726.0,1246019.0,733709.0,607909.0,...,379342.0,131867.0,71399.0,60468.0,621744.0,253630.0,368114.0,585671.0,314892.0,270779.0
33754,Bangalore,Total,All durations of residence,Within the state of enumeration but outside th...,Total,3374564.0,1746100.0,1628464.0,845190.0,692203.0,...,467768.0,136657.0,74454.0,62203.0,684029.0,285824.0,398205.0,1098896.0,586886.0,512010.0

In [23]:
blr_data.to_csv("blr_data.csv", index=True)